<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <!-- Define the icon to use for all shortcuts -->
    <!--TODO: <Icon Id="insert_icon_object_here" SourceFile="path_to_file"/>-->
    
    <ComponentGroup Id="BaseComponents" Directory="INSTALLFOLDER">
      <Component>
        <!--
                                                      ABOUT GUID-SETTING
        We let the linker generate the GUIDs for most of our files, except for RobotoSlab-Regular.ttf and MaterialIcons-Regular.otf
        which needed to be set as companion files. This is because we don't want to install them as files
        (i.e. we want Windows Installer treat them as normal files), but Windows Installer requires versioned non-font files
        to have encoding (aka language/code page) specified. So as a result of how Windows Installer works at a low level,
        our only solution is to have them set as companion files to CastFORM.exe and thus have them exempted from the language specifier
        requirement; they are upgraded whenever CastFORM.exe is upgraded.
        -->

        <!-- Application entry-point and its shortcuts -->
        <File Id="CastFORM.exe" Source="$(FlutterBuildOutputDir)\CastFORM.exe" KeyPath="yes" />
        <!-- Display in Start menu -->
        <Shortcut Name="CastFORM" Description="Pokemon TCG Decklist Generator" Directory="ProgramMenuFolder" Advertise="yes" /><!-- TODO: Add icon -->
      </Component>
      
      <Component>
        <File Source="$(FlutterBuildOutputDir)\flutter_windows.dll" />
      </Component>
      <Component>
        <File Source="$(FlutterBuildOutputDir)\pdfium.dll" />
      </Component>
      <Component>
        <File Source="$(FlutterBuildOutputDir)\printing_plugin.dll" />
      </Component>
      <Component>
        <File Source="$(FlutterBuildOutputDir)\url_launcher_windows_plugin.dll" />
      </Component>
      <Component>
        <File Source="$(LicenseFile)" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="DataComponents" Directory="DATAFOLDER">
      <Component>
        <File Source="$(FlutterBuildOutputDir)\data\app.so" />
      </Component>
      <Component>
        <File Source="$(FlutterBuildOutputDir)\data\icudtl.dat" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="FlutterAssetComponents" Directory="FLUTTERASSETSFOLDER">
      <Component>
        <File Source="$(FlutterBuildOutputDir)\data\flutter_assets\AssetManifest.bin" />
      </Component>
      <Component>
        <File Source="$(FlutterBuildOutputDir)\data\flutter_assets\AssetManifest.json" />
      </Component>
      <Component>
        <File Source="$(FlutterBuildOutputDir)\data\flutter_assets\FontManifest.json" />
      </Component>
      <Component>
        <File Source="$(FlutterBuildOutputDir)\data\flutter_assets\NOTICES.Z" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="FontComponents" Directory="CUSTOMFONTSFOLDER">
      <Component Id="RobotoSlab" Guid="a5d784d8-80ac-4b6f-a191-610ff6cfd652">
        <File Source="$(FlutterBuildOutputDir)\data\flutter_assets\assets\fonts\RobotoSlab-Regular.ttf" KeyPath="no" CompanionFile="CastFORM.exe" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="FormComponents" Directory="FORMTEMPLATESFOLDER">
      <Component>
        <File Source="$(FlutterBuildOutputDir)\data\flutter_assets\assets\form_templates\pokemon_decklist_a4.webp" />
      </Component>
      <Component>
        <File Source="$(FlutterBuildOutputDir)\data\flutter_assets\assets\form_templates\pokemon_decklist_letter.webp" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="FlutterFontComponents" Directory="FLUTTERFONTSFOLDER">
      <Component Id="MaterialIcons" Guid="e5741805-26a9-436d-973f-e7dcca1b6e4a">
        <File Source="$(FlutterBuildOutputDir)\data\flutter_assets\fonts\MaterialIcons-Regular.otf" KeyPath="no" CompanionFile="CastFORM.exe" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ShaderComponents" Directory="SHADERSFOLDER">
      <Component>
        <File Source="$(FlutterBuildOutputDir)\data\flutter_assets\shaders\ink_sparkle.frag" />
      </Component>
    </ComponentGroup>

    <!-- Desktop shortcut (user's choice) -->
    <Component Id="DesktopShortcutComponent" Directory="DesktopFolder">
      <RegistryValue Root="HKCU" Key="SOFTWARE\BAA Studios\CastFORM" Name="EnableDesktopShortcut" Value="1" />
      <Shortcut Name="CastFORM" Description="Pokemon TCG Decklist Generator" Directory="DesktopFolder" Target="[#CastFORM.exe]" />
      <!-- TODO: Add icon -->
    </Component>
  </Fragment>
</Wix>
