<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <!-- Define product metadata -->
  <Package 
      Name="CastFORM" 
      Manufacturer="BAA Studios" 
      Version="0.0.1" 
      UpgradeCode="8328a3b6-dec0-4dc2-9058-741f55a1003c">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <!-- Set an icon for Windows Settings > Apps -->
    <!--TODO: <Property Id="ARPPRODUCTICON" Value="insert_icon_object_here" />-->
    
    <!-- Block pre-win10/server2016 fromm installing -->
    <Launch Message="CastFORM only supports 64-bit Windows 10/11!" Condition="Installed OR VersionNT64 >= 603"/>
    
    <MediaTemplate EmbedCab="yes"/>

    <!-- List of files to create on user machine -->
    <Feature Id="Complete">
      <Feature 
          Id="Main" 
          Title="CastFORM" 
          Description="The CastFORM application." 
          AllowAbsent="no" 
          AllowAdvertise="no">
        <!-- Flutter output -->
        <ComponentGroupRef Id="BaseComponents" />
        <ComponentGroupRef Id="DataComponents" />
        <ComponentGroupRef Id="FlutterAssetComponents" />
        <ComponentGroupRef Id="FontComponents" />
        <ComponentGroupRef Id="FormComponents" />
        <ComponentGroupRef Id="FlutterFontComponents" />
        <ComponentGroupRef Id="ShaderComponents" />
      </Feature>
      <Feature 
          Id="VCredist" 
          Title="Visual C++ Redistributable Libraries" 
          Description="Libraries that CastFORM uses. You may not need this if you already have vc_redist installed. You should install these if you're unsure of what this means." 
          AllowAbsent="yes"
          AllowAdvertise="no">
        <!-- Visual C++ Redustributable libraries -->
        <ComponentGroupRef Id="VCredist" />
      </Feature>
      <Feature 
          Id="Shortcut" 
          Title="Desktop Shortcut" 
          Description="Create a desktop shortcut for CastFORM" 
          AllowAbsent="yes" 
          AllowAdvertise="no" 
          Level="2">
        <ComponentRef Id="DesktopShortcutComponent"/>
      </Feature>
    </Feature>
    
    <!-- GUI -->
    <ui:WixUI Id="WixUI_FeatureTree" />
  </Package>
</Wix>
