<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package 
      Name="CastFORM" 
      Manufacturer="BAA Studios" 
      Version="1.0.0" 
      UpgradeCode="8328a3b6-dec0-4dc2-9058-741f55a1003c">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <MediaTemplate EmbedCab="yes"/>

    <Feature Id="Complete">
      <Feature 
          Id="Main" 
          Title="CastFORM" 
          Description="The CastFORM application." 
          AllowAbsent="no" 
          AllowAdvertise="no">
        <!-- Flutter output -->
        <ComponentGroupRef Id="BaseComponents" />
        <ComponentGroupRef Id="DataComponents" />
        <ComponentGroupRef Id="FlutterAssetComponents" />
        <ComponentGroupRef Id="FontComponents" />
        <ComponentGroupRef Id="FormComponents" />
        <ComponentGroupRef Id="FlutterFontComponents" />
        <ComponentGroupRef Id="ShaderComponents" />
      </Feature>
      <Feature 
          Id="VCredist" 
          Title="Visual C++ Redistributable Libraries" 
          Description="Libraries that CastFORM uses. You may not need this if you already have vc_redist installed. You should install these if you're unsure of what this means." 
          AllowAbsent="yes"
          AllowAdvertise="no">
        <!-- Visual C++ Redustributable libraries -->
        <ComponentGroupRef Id="VCredist" />
      </Feature>
    </Feature>
  </Package>
</Wix>
