<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="VCredist" Directory="INSTALLFOLDER">
      <Component>
        <!-- We wrap single files in components to let the linker generate the GUIDs -->
        <File Source="$(VisualStudoRedistDir)\msvcp140.dll" />
      </Component>
      <Component>
        <File Source="$(VisualStudoRedistDir)\vcruntime140.dll" />
      </Component>
      <Component>
        <File Source="$(VisualStudoRedistDir)\vcruntime140_1.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
